.content-container {
    background-color:blue;
    display: block;
    border:none;
    padding:0;
    margin:0;
    height: 35px;
    position: absolute;
    top: 0; left: 0;right: 0;
}

p {
    position: absolute;
    top: 10px;
    right: 80px;
  }

.logo {
    bottom:20px;
}

#menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:left;
    }
   #menu li {
    float: right;
    margin:0;
    padding:5px;
    background-color:rgba(0,0,0,0);
    }
   #menu li a {
    display:block;
    width:150px;
    color:white;
    text-decoration:none;
    padding:5px;
    }
   #menu li a:hover {
    color:#FFD700;
    }
    #menu ul li ul {
        display:none;
        }

        #menu ul li:hover ul {
            display:block;
            }
           #menu li:hover ul li {
            float:none;
            }
            #menu li ul {
                position:absolute;
                }
                a.bouton {
                    padding: 15px 40px;
                    background: #46a28d;
                    color: #FFFFFF;
                    font-weight: bold;
                    font-size: 25px;
                    }
                    a.bouton2:hover {
                    background: #570906;
                    color: #5EB6DD;
                    }

                    body {
                        background-image: url(http://www.kola-academy.com/wp-content/uploads/2020/05/background.png);
                    }

                    h1,h2{color:white}



                li>a:only-child:after { content: â€; }
